<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Push</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-label position="stacked">Titel</ion-label>
    <ion-input [(ngModel)]="title"></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="stacked">Nachricht</ion-label>
    <ion-input [(ngModel)]="body"></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label>Typ</ion-label>
    <ion-select
      [(ngModel)]="type"
    >
      <ion-select-option value="general">Allgemein</ion-select-option>
      <ion-select-option [disabled]="!ausgaben.length" value="ausgabe">Neue Ausgabe</ion-select-option>
      <ion-select-option [disabled]="!impulses.length" value="impulse">Neuer Impuls</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="type === 'ausgabe'" lines="full">
    <ion-label>Ausgabe auswählen</ion-label>
    <ion-select [(ngModel)]="ausgabe">
      <ion-select-option [value]="ausgabe" *ngFor="let ausgabe of ausgaben"
        >{{ ausgabe.name }}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <ion-item *ngIf="type === 'impulse'" lines="full">
    <ion-label>Impuls auswählen</ion-label>
    <ion-select [(ngModel)]="impulse">
      <ion-select-option [value]="impulse" *ngFor="let impulse of impulses"
        >{{ impulse.title }}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <ion-item *ngIf="type === 'general'" lines="full">
    <input
      (change)="onImageSelected()"
      accept="image/png, image/jpeg"
      #selector
      style="display: none"
      type="file"
      ng2FileSelect
      [uploader]="fileUploader"
    />
    <ion-button (click)="selector.click()" color="medium"
      >Bild auswählen (max. 300 Kb)</ion-button
    >
    <ion-label *ngIf="file">{{ file.name }}</ion-label>
  </ion-item>
  <ion-button color="medium" expand="full" (click)="showConfirmAlert(true)"
    >Testnachricht senden</ion-button
  >
  <ion-button color="success" expand="full" (click)="showConfirmAlert(false)"
    >Push Benachrichtigung an alle User senden</ion-button
  >
</ion-content>
