.topBar {
    display: flex;
    padding: 0 1rem;

    .searchBar {
        padding-left: 0;
        float: left;
    }
    
    .filterBtn {
        --padding-start: 0;
        --padding-end: 0;
        display: flex;
        margin: auto;
    }
}