<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Termine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">              
    <ion-toolbar>      
      <ion-title size="large">Termine</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item lines="full" *ngFor="let d of dates">
      <ion-label>
        <h2>{{ d.name }}</h2>
        <h3>{{ d.date | date: 'dd.MM.yyyy' }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
