<ion-tabs>
  <ion-toolbar *ngIf="title !== ''">
    <ion-buttons slot="start">
      <ion-button expand="full" fill="clear" (click)="play()">
        <ion-icon *ngIf="!playing" name="play"></ion-icon>
        <ion-icon *ngIf="playing" name="pause"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div style="height: 5.5rem">
      <ion-button fill="clear" class="close" size="small" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
      <ion-label class="songLabel">{{ title }}</ion-label>
      <ion-range
        class="songRange"
        #range
        [(ngModel)]="progress"
        min="0"
        max="1000"
        (touchstart)="onRangeFocus()"
        (touchend)="seek()"
        (mousedown)="onRangeFocus()"
        (mouseup)="seek()"
      >
        <ion-label slot="start">{{ curTime }}</ion-label>
        <ion-label slot="end">{{ duration }}</ion-label>
      </ion-range>
    </div>
  </ion-toolbar>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="favorites">
      <ion-icon name="star"></ion-icon>
      <ion-label>Favoriten</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="posts">
      <ion-icon name="list"></ion-icon>
      <ion-label>Artikel</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Einstellungen</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
