<ion-tabs>
  <ion-toolbar *ngIf="title !== ''">
    <ion-buttons slot=start>
      <ion-button expand="full" fill="clear" (click)="play()">
        <ion-icon *ngIf="!playing" name="play"></ion-icon>
        <ion-icon *ngIf="playing" name="pause"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label>{{ title }}</ion-label>
  </ion-toolbar>
  <ion-tab-bar color="primary" slot="bottom">
    <ion-tab-button tab="posts">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Berichte</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="dates">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Termine</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      <ion-label>Mehr</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
