.coverCard {
  margin: auto;
  margin-top: 1rem;
  max-width: 15rem;
}

ion-slides {
  ion-card {
    margin-top: 0rem;
  }
}

ion-fab-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  pointer-events: none;
}

.text {
  padding: 0 1rem;
}

ion-card {
  box-shadow: none;

  img {
    border: 2px solid var(--ion-color-light);
    border-radius: 4px;
  }
}
