<ion-header #header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        defaultHref="/tabs/posts"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Ausgabe {{ ausgabe?.name }}</ion-title>
    <ion-buttons *ngIf="ausgabe?.pdfUrl" slot="end">
      <ion-button (click)="downloadPdf()">
        <ion-icon slot="icon-only" name="download-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  fullscreen="true"
  scrollEvents="true"
  appHideHeader
  [header]="header"
  [isList]="false"
>
  <ion-card class="coverCard">
    <img [src]="ausgabe?.imageUrl"/>
  </ion-card>
  <h2 class="text">{{ ausgabe?.title }}</h2>
  <div
    class="text"
    [innerHTML]="ausgabe?.content"
    [style.font-size.px]="textSize"
  >
  </div>
  <h2 class="text" *ngIf="ausgabe?.videos && ausgabe.videos.length">Videos</h2>
  <ion-slides *ngIf="ausgabe?.videos && ausgabe.videos.length">
    <ion-slide (click)="playVideo(video.url)" *ngFor="let video of ausgabe.videos">
      <ion-card>
        <img [src]="video.image"/>
        <div id="fullscreen" slot="fixed"></div>
        <ion-fab-button color="medium">
          <ion-icon size="medium" name="play"></ion-icon>
        </ion-fab-button>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
