ion-toolbar {
  --background: transparent;
  --border-color: transparent;
  padding: 1rem;
}

.coverCard {
  margin: auto;
  margin-top: 1rem;
  max-width: 10rem;
}

ion-slides {
  ion-card {
    margin-top: 0rem;
  }
}

ion-fab-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  pointer-events: none;
}

ion-card {
  box-shadow: none;
}

.mainContent {
  padding: 1rem 1.5rem 1rem 1.5rem;
}

ion-content {
  --padding-bottom: 2.5rem;
}

img {
  border: 2px solid var(--ion-color-light);
  border-radius: 1rem;
}

.shortText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
          line-clamp: 5; 
  -webkit-box-orient: vertical;
}
