ion-content {
    --padding-bottom: 2.5rem;
    ion-card {
        --background: var(--ion-color-light);
        box-shadow: none;
        margin-top: 0.2rem;
        .title {
            font-size: 1.1rem;
            height: 80%;
        }
        .subTitle {
            color: var(--ion-color-dark) !important;
            padding-bottom: 2rem;
        }
        img {
            height: 7rem;
            object-fit: contain;
        }
        p {
            margin: 0 0 0.3rem 0;
        }
    }
    .text {
        padding: 0 1rem;
    }
}