<ion-content appParallaxHeader fullscreen="true" scrollEvents="true">
  <div *ngIf="post">
    <div id="header" class="parallax">
      <div class="topButtons">
        <ion-back-button text="" [defaultHref]="defaultHref" #backButton></ion-back-button>
      </div>
      <div class="bottomButtons">
        <div class="leftButtons">
          <ion-button shape="circle" size="small" (click)="setPostFavorite()" [disabled]="!post?.id">
            <ion-icon slot="icon-only" [name]="post?.isFavorite ? 'star' : 'star-outline'"></ion-icon>
          </ion-button>
          <ion-button shape="circle" size="small" (click)="share()">
            <ion-icon slot="icon-only" name="share-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="rightButtons">
          <ion-button shape="round" *ngIf="!isPlaying && ((post?.audio && online) || (post?.audio?.base64 && !online))"
          (click)="play()" size="small">
          Titel anhören
        </ion-button>
        </div>
      </div>
      <img id="headerImage" *ngIf="post.postImg || post.base64Img"
        [src]="post.base64Img ? post.base64Img : post.postImg.source_url" />
    </div>

    <div class="mainContent">

      <ion-button shape="round" *ngIf="post.ausgabe" (click)="openAusgabe(post.ausgabe)"
      size="small">
      {{ post.ausgabe.name }}
    </ion-button>
    <ion-button shape="round" *ngIf="post.rubrik" (click)="openFilteredList(post.rubrik)"
      size="small">
      {{post.rubrik.name }}
    </ion-button>
    <ion-button size="small" shape="round" *ngFor="let tag of post.tags">
      {{ tag.name }}
    </ion-button>

      <h4 class="title">{{ post.title }}</h4>
  
      <div class="text postContent" [innerHTML]="post.content" [style.font-size.px]="textSize"></div>
    </div>
  
    <div *ngIf="!post">
      <div class="text">
        <p>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </p>
      </div>
    </div>
    </div>
</ion-content>