ion-content {
  --padding-bottom: 2.5rem;

  ion-card {
    --background: var(--ion-color-light);
    box-shadow: none;
    margin-top: 0.2rem;

    .title {
      font-size: 1.1rem;
      height: 80%;
    }

    img {
      height: 7rem;
      object-fit: contain;
    }

    p {
      margin: 0 0 0.3rem 0;
    }
  }

  .text {
    padding: 0 1rem;
  }

  // .horizontalLine {
  //     height: .3rem;
  //     background-color: var(--ion-color-medium);
  //     width: 80%;
  //     margin: auto;
  //     border-radius: .2rem;
  //     margin-bottom: -1.4rem;
  // }
}
