<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true">
    <ion-slide>
      <div class="surround">
        <ion-img src="../../../assets/App_Anleitung.png"></ion-img>
      </div>
      <h2>Herzlich Willkommen</h2>
      <p>
        Schön, dass du es zur Jugendkompass App geschafft hast. Sobald eine neue
        Ausgabe der Zeitschrift herausgegeben wird, erfährst du hier davon und
        kannst eine Auswahl an Artikeln direkt in der App lesen.
      </p>
    </ion-slide>
    <ion-slide>
      <div class="surround">
        <ion-img src="../../../assets/FavOff.png"></ion-img>
      </div>
      <h2>Deine Favoriten auch offline verfügbar</h2>
      <p>
        Du kannst Artikel als Favoriten markieren. Diese werden automatisch
        gespeichert: dann kannst du sie auch ohne Internetverbindung lesen und
        anhören.
      </p>
    </ion-slide>
    <ion-slide>
      <div class="surround">
        <ion-img
          [src]="isDark ? '../../../assets/light_welcome.png' : '../../../assets/dark_welcome.png'"
        ></ion-img>
      </div>
      <h2>Wähle ein Theme aus</h2>

      <ion-radio-group (ionChange)="onThemeChange()" [(ngModel)]="theme">
        <ion-item lines="none">
          <ion-label>Systemeinstellung</ion-label>
          <ion-radio slot="start" value="default"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Hell</ion-label>
          <ion-radio slot="start" value="light"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Dunkel</ion-label>
          <ion-radio slot="start" value="dark"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-slide>
    <ion-slide>
      <div class="surround">
        <ion-img src="../../../assets/App Anleitung2.png"></ion-img>
      </div>
      <h2>Push</h2>
      <p>
        Erlaube uns, dich per Push-Benachrichtigung zu informieren, wenn neue
        Artikel zur Verfügung stehen. Dann musst du nicht jeden Tag nach Updates
        schauen.
      </p>
      <ion-button (click)="toHome()" fill="clear"
        >Los geht´s <ion-icon name="arrow-forward"></ion-icon
      ></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
