ion-slides {
    height: 100%;

    ion-slide {
        display: block;
        margin-top: 2rem;

        .icon {
            font-size: 17rem;
            color: var(--ion-color-primary);
        }
    }
}