<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true">
    <ion-slide>
      <ion-img src="../../../assets/App_Anleitung.png"></ion-img>
      <h2>Herzlich Willkommen</h2>
      <p>Schön das du es zum Jugendkompass geschafft hast. Sobald eine neue Ausgabe der Zeitschrift herausgegeben wird, erfährst du
        hier davon und kannst eine Auswahl an Artikeln direkt in der App lesen.</p>
    </ion-slide>
    <ion-slide>
      <ion-img src="../../../assets/App Anleitung2.png"></ion-img>
      <h2>Deine Favoriten auch offline verfügbar</h2>
      <p>
        Nachricht, die noch verfasst werden muss...
      </p>
    </ion-slide>
    <ion-slide>
      <ion-img src="../../../assets/App Anleitung3.png"></ion-img>
      <h2>Wähle ein Theme aus</h2>

      <ion-radio-group (ionChange)="onThemeChange()" [(ngModel)]="theme">
        <ion-item lines="none">
          <ion-label>Systemeinstellung</ion-label>
          <ion-radio slot="start" value="default"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Hell</ion-label>
          <ion-radio slot="start" value="light"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Dunkel</ion-label>
          <ion-radio slot="start" value="dark"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-slide>
    <ion-slide>
      <ion-img src="../../../assets/App Anleitung2.png"></ion-img>
      <h2>Push</h2>
      <p>
        Damit du nicht jeden Tag nach Updates schauen musst erlaube Push
        Benachrichtigungen um sofort informiert zu werden wenn neue Artikel zur
        Verfügung stehen.
      </p>
      <ion-button (click)="toHome()" fill="clear"
        >Los geht´s <ion-icon name="arrow-forward"></ion-icon
      ></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
