<ion-header>
  <ion-toolbar>
    <ion-title>Mehr</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item detail button (click)="openMail()">
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-label>Kontakt</ion-label>
    </ion-item>
    <ion-item
      detail
      routerDirection="forward"
      routerLink="/tabs/settings/imprint"
    >
      <ion-icon slot="start" name="briefcase-outline"></ion-icon>
      <ion-label>Impressum</ion-label>
    </ion-item>
    <ion-item
      detail
      routerDirection="forward"
      routerLink="/tabs/settings/dataprotection"
    >
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-label>Datenschutzerklärung</ion-label>
    </ion-item>
    <ion-item (click)="share()" lines="full" detail button>
      <ion-icon slot="start" name="share-outline"></ion-icon>
      <ion-label>App weiterempfehlen</ion-label>
    </ion-item>
    <ion-item
      detail
      routerDirection="forward"
      routerLink="/tabs/settings/text-size"
    >
      <ion-icon slot="start" name="resize-outline"></ion-icon>
      <ion-label>Textgröße</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
