ion-toolbar {
  --padding-top: 0.5rem;
  --padding-start: 0.5rem;
  --padding-end: 0.5rem;

  img {
    height: 2rem;
    content: url('../../../assets/logo.png');
  }
}

ion-slides {
  margin: .6rem 0 .4rem 0;
  padding-left: .9rem;
  padding-right: .9rem;

  ion-slide {
    border: 2px solid var(--ion-color-light);

    &:focus {
      outline: none;
    }
  }
}

ion-content > div {
  height: 110%;

  > ion-grid {
    padding-bottom: 3.5rem;
  }
}

ion-segment {
  &::-webkit-scrollbar {
    display: none;
  }

  ion-segment-button {
    text-transform: none;
    --padding-end: .4rem;
    --padding-start: .4rem;
  }
}

ion-thumbnail {
  height: 7rem;
  width: 100%;
}

.hideSearchbar {
  display: none;
}

.overallColumn {
  --ion-grid-column-padding: 0;
}

ion-card {
  margin: 0.7rem 1rem;
  height: 7rem;

  &:focus {
    outline: none;
  }

  &.read {
    .title {
      color: var(--ion-color-medium) !important;
    }
  
    .subTitle {
      color: var(--ion-color-medium) !important;
    }

    .postFooter {
      color: var(--ion-color-medium) !important;
    }
  }

  ion-grid {
    padding: 0;
    height: 7rem;

    p {
      margin: 0;
    }

    .cardColumn {
      height: 7rem;

      &.image {
        img {
          border-radius: .4rem;
          box-shadow: rgb(0 0 0 / 12%) 0px 4px 4px;
        }
      }

      &.text {
        padding-left: .2rem;
      }

      &:first-of-type {
        text-align: center;
      }
    }

    ion-col {
      padding: 0;
    }

    .postHeader {
      height: 5rem;
      ion-card-header {
        padding: 0.5rem;

        .title {
          font-size: 0.9rem;
          margin: 0;
          color: var(--ion-color-dark);
          display: -webkit-box;
          -webkit-line-clamp: 3;
          overflow: hidden;
          -webkit-box-orient: vertical;
        }

        .subTitle {
          font-size: 0.8rem;
          margin: 0;
          padding-bottom: 0.2rem;
          color: var(--ion-color-primary);
        }
      }
    }

    .postFooter {
      height: 2rem;
      padding-top: 0.5rem;

      ion-col {
        display: flex;
        font-size: 0.8rem;

        &:first-of-type {
          padding-left: .8rem;
        }

        &:nth-of-type(2) {
          padding-left: .2rem;
        }

        ion-icon {
          height: 0.9375rem;
          padding-right: 0.2rem;
        }
      }
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

ion-toolbar {
  --border-style: none;
}

.noResultContainer {
  height: 100%;

  ion-grid {
    height: 100%;

    .noItemsIcon {
      font-size: 5rem;
      height: 48%;
      text-align: center;

      ion-icon {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }

    .noItemsLabel {
      height: 52%;
      text-align: center;
      font-size: 1rem;

      ion-label {
        width: 100%;
      }
    }
  }
}
