<ion-header #header class="ion-no-border">
  <ion-toolbar>
    <img class="logo" />
    <ion-buttons slot="end">
      <ion-button (click)="openFilterModal()" [disabled]="!allPosts.length">
        <ion-icon
          [color]="areFiltersActive ? 'primary' : 'dark'"
          size="small"
          name="funnel"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  fullscreen="true"
  #content
  scrollEvents="true"
  appHideHeader
  [header]="header"
  [isList]="true"
>
  <ion-searchbar
    #searchbar
    type="search"
    inputmode="search"
    enterkeyhint="search"
    [(ngModel)]="searchTerm"
    (ionInput)="onSearch($event)"
    [disabled]="!allPosts.length"
    placeholder="Artikel suchen..."
    *ngIf="online"
  >
  </ion-searchbar>

  <ion-segment
    *ngIf="rubriken.length && online && !isSearching"
    [(ngModel)]="currentRubrik"
    mode="md"
    scrollable="true"
    (ionChange)="onCategoryPressed()"
  >
    <ion-segment-button value="all">Alle Kategorien</ion-segment-button>
    <ion-segment-button *ngFor="let rubrik of rubriken" [value]="rubrik.id"
      >{{ rubrik.name }}
      <div class="placeholder"></div>
    </ion-segment-button>
  </ion-segment>

  <ion-list-header
    mode="ios"
    *ngIf="ausgaben && ausgaben.length && !isSearching && currentAusgabe === 'all' && currentRubrik === 'all'"
    >Alle Ausgaben</ion-list-header
  >
  <ion-slides
    [options]="slideOpts"
    *ngIf="ausgaben && ausgaben.length && !isSearching && currentAusgabe === 'all' && currentRubrik === 'all'"
  >
    <ion-slide
      [routerLink]="['/', 'tabs', 'posts', 'ausgabe', ausgabe.id]"
      (click)="openAusgabe(ausgabe)"
      *ngFor="let ausgabe of ausgaben"
    >
      <img [src]="ausgabe.imageUrl" />
    </ion-slide>
  </ion-slides>

  <div *ngIf="posts.length"
  appSwipe
  (swipeLeft)="onSwipeLeft($event)" 
  (swipeRight)="onSwipeRight($event)">
    <ion-list-header *ngIf="!showOnlyUnread && !isSearching && currentRubrik === 'all'" mode="ios">Alle Artikel</ion-list-header>
    <ion-list-header *ngIf="showOnlyUnread && !isSearching && currentRubrik === 'all'" mode="ios">Ungelesene Artikel</ion-list-header>
    <ion-grid>
      <ion-row>
        <ion-col
          class="overallColumn"
          *ngFor="let post of posts"
          size="12"
          size-md="6"
          size-xl="4"
        >
          <ion-card
            (click)="setAsRead(post)"
            [ngClass]="isRead(post) ? 'read' : ''"
            [routerLink]="['/', 'tabs', 'posts', post.id]"
          >
            <ion-grid>
              <ion-row>
                <ion-col class="cardColumn image" size="4">
                  <img *ngIf="post.postImg" [src]="post.postImg.source_url" />
                </ion-col>
                <ion-col class="cardColumn text" size="8">
                  <div class="postHeader">
                    <ion-card-header>
                      <p class="subTitle" *ngIf="post.ausgabe && !post.rubrik">
                        {{ post.ausgabe.name }}
                      </p>
                      <p class="subTitle" *ngIf="!post.ausgabe && post.rubrik">
                        {{ post.rubrik.name }}
                      </p>
                      <p class="subTitle" *ngIf="post.ausgabe && post.rubrik">
                        {{ post.ausgabe.name}} | {{post.rubrik.name }}
                      </p>
                      <p class="title" [innerHTML]="post.title"></p>
                    </ion-card-header>
                  </div>
                  <div class="postFooter">
                    <ion-row>
                      <ion-col size="4">
                        <ion-icon name="book-outline"></ion-icon> {{
                        post.readingTime }} min
                      </ion-col>
                      <ion-col size="3">
                        <ion-icon name="eye-outline"></ion-icon> {{ post.views || "0"
                        }}
                      </ion-col>
                      <ion-col
                        *ngIf="post.audio && post.audio.duration"
                        size="5"
                      >
                        <ion-icon name="volume-high-outline"></ion-icon> {{
                        post.audio.duration }} min
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="!posts.length && !allPosts.length && online"
  appSwipe
  (swipeLeft)="onSwipeLeft($event)" 
  (swipeRight)="onSwipeRight($event)">
    <ion-list-header mode="ios">
      <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
    </ion-list-header>
    <ion-grid>
      <ion-row>
        <ion-col
          class="overallColumn"
          *ngFor="let i of items"
          size="12"
          size-md="6"
        >
          <ion-card>
            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <ion-thumbnail>
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-thumbnail>
                </ion-col>
                <ion-col size="8">
                  <div class="postHeader">
                    <ion-card-header>
                      <p class="subTitle">
                        <ion-skeleton-text
                          animated
                          style="width: 40%"
                        ></ion-skeleton-text>
                      </p>
                      <p class="title">
                        <ion-skeleton-text
                          animated
                          style="width: 90%"
                        ></ion-skeleton-text>
                      </p>
                    </ion-card-header>
                  </div>
                  <div class="postFooter">
                    <ion-row>
                      <ion-col size="4">
                        <ion-skeleton-text
                          animated
                          style="width: 50%"
                        ></ion-skeleton-text>
                      </ion-col>
                      <ion-col size="4">
                        <ion-skeleton-text
                          animated
                          style="width: 40%"
                        ></ion-skeleton-text>
                      </ion-col>
                      <ion-col size="4">
                        <ion-skeleton-text
                          animated
                          style="width: 40%"
                        ></ion-skeleton-text>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div
    class="noResultContainer"
    *ngIf="(!posts.length && allPosts.length && online) || !online"
  >
    <ion-grid>
      <ion-row class="noItemsIcon">
        <ion-col>
          <ion-icon color="medium" name="alert-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="noItemsLabel">
        <ion-label
          *ngIf="!posts.length && allPosts.length && online"
          color="medium"
          >Keine Artikel gefunden</ion-label
        >
        <ion-label *ngIf="!online" color="medium"
          >Keine Internetverbindung vorhanden</ion-label
        >
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
