<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Jugendkompass</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="loadPosts($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="posts.length">
    <ion-card [routerLink]="['/', 'tabs', 'posts', post.id]" *ngFor="let post of posts" (click)="setAsRead(post)" [color]="post.articleWasRead ? 'light' : ''">
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <img *ngIf="post.media_url" [src]="post.media_url">
          </ion-col>
          <ion-col size="8">
            <ion-card-header>
              <p [style.color]="post.rubrik.description ? post.rubrik.description : ''" *ngIf="post.rubrik">{{ post.rubrik.name }}</p>
              <ion-card-title [innerHTML]="post.title.rendered"></ion-card-title>
              <ion-card-subtitle *ngIf="!post.category">{{ post.date_gmt | date: 'dd.MM.yyyy' }}</ion-card-subtitle>
              <ion-card-subtitle *ngIf="post.category">{{ post.category.name }}</ion-card-subtitle>
            </ion-card-header>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <div *ngIf="!posts.length && !allPosts.length">
    <ion-card *ngFor="let i of items">
      <ion-card-header>
        <ion-card-title>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        </ion-card-title>
        <ion-card-subtitle>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="noResultContainer" *ngIf="!posts.length && allPosts.length">
    <ion-grid>
      <ion-row class="noItemsIcon">
        <ion-col>
          <ion-icon color="medium" name="alert-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="noItemsLabel">
        <ion-label color="medium">Keine Artikel gefunden</ion-label>
      </ion-row>
    </ion-grid>
  </div>
 
  <ion-infinite-scroll *ngIf="count && count > 10 && !allPosts.length" threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingText="Weitere Artikel werden geladen...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
 
</ion-content>
