<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        defaultHref="/tabs/settings"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Keyverwaltung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="openUpdateSheet(key)" *ngFor="let key of keys$ | async">
      <ion-label>
        <h2>{{ key.value }}</h2>
        <h2 *ngIf="!key.usedKeys">Benutzt: 0 | Verfügbar: {{ key.remainingKeyCount }}</h2>
        <h2 *ngIf="key.usedKeys">Benutzt: {{ key.usedKeys }} | Verfügbar: {{ key.remainingKeyCount }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCreateAlert()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
